# Global Owners
* @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer

# Component Specific
/FractalBridge/     @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/FractalCore/       @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/FractalServe/       @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/FractalStreamer/       @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/FractalGnnRouter/       @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/FractalBltEncoder/       @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/docs/              @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/src/              @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer
/tests/              @H4ZEY86, Ctrl_Alt_Haze, Christopher Dyer


